version: '3'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./precision_machining_website:/app
      - static_volume:/app/static
      - media_volume:/app/media
    environment:
      - DEBUG=0
      - DB_HOST=db
      - DB_NAME=machining_platform
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - CREATE_SUPERUSER=true
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@example.com
      - DJANGO_SUPERUSER_PASSWORD=admin
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=machining_platform
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume: