name: precision-machining

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      # Linux 环境下的卷映射
      - ./precision_machining_website:/app
    environment:
      - DEBUG=0
      # 数据库连接信息
      - DB_HOST=db
      - DB_NAME=machining_platform
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=machining_platform
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: